In [6]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/1b7d5475863c15f484ac495bd70975cf/raw/16aff7a0aee67e7c100a2a48b676a2d2d142f646/projects.csv"
dados = pd.read_csv(uri)
dados.head()

   unfinished  expected_hours  price
0           1              26    192
1           1              88   9015
2           1              89   2577
3           1              42    275
4           1              39    170

In [9]:
colunas = {
    "unfinished":"nao_finalizado",
    "expected_hours":"horas_esperadas",
    "price":"preco"
}
dados = dados.rename(columns=colunas)
dados.head()

   nao_finalizado  horas_esperadas  preco
0               1               26    192
1               1               88   9015
2               1               89   2577
3               1               42    275
4               1               39    170

In [11]:
swap = {
    0 : 1,
    1 : 0
}
dados["finalizado"] = dados.nao_finalizado.map(swap)
dados.head()

   nao_finalizado  horas_esperadas  preco  finalizado
0               1               26    192           0
1               1               88   9015           0
2               1               89   2577           0
3               1               42    275           0
4               1               39    170           0

In [13]:
import seaborn as sns

sns.scatterplot(x="horas_esperadas",y="preco",data=dados)

ModuleNotFoundError: No module named 'seaborn'